@page "/"
@using Syncfusion.Blazor.Buttons

<div style="margin: 0 auto 2em; max-width: 500px; height: 280px;">
    <SfCarousel Interval="2000" Loop="false" AnimationEffect="CarouselAnimationEffect.Fade"
                ShowIndicators="false" ButtonsVisibility="CarouselButtonVisibility.VisibleOnHover"
                ShowPlayButton="true" AutoPlay="@IsSlidePlay"> 
        <ChildContent>
            <CarouselItem>
                <figure class="image-container">
                    <img src="images/carousel/san-francisco.png" alt="san-francisco"
                         style="height:100%;width:100%;" />
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure class="image-container">
                    <img src="images/carousel/london.png" alt="london"
                         style="height:100%;width:100%;" />
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure class="image-container">
                    <img src="images/carousel/tokyo.png" alt="tokyo"
                         style="height:100%;width:100%;" />
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure class="image-container">
                    <img src="images/carousel/moscow.png" alt="moscow"
                         style="height:100%;width:100%;" />
                </figure>
            </CarouselItem>
        </ChildContent>
        <PreviousButtonTemplate>
            <SfButton CssClass="e-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                    <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                </svg>
            </SfButton>
        </PreviousButtonTemplate>
        <NextButtonTemplate>
            <SfButton CssClass="e-outline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                    <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                </svg>
            </SfButton>
        </NextButtonTemplate>
        <IndicatorsTemplate>
            @{ 
                <div class="indicator">
                    <img style="height:100%;width:100%;" 
                         src="images/carousel/@(IndicatorsImageNameList[context.Index]).png" alt="image" />
                </div>
            }
        </IndicatorsTemplate>
        <PlayButtonTemplate>
            <SfButton title="@(IsSlidePlay ? "Pause" : "Play")" IsToggle="true"
                      @onclick="(()=> IsSlidePlay = !IsSlidePlay)">

                @if (IsSlidePlay) { 
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM10 10h4v12h-4zM18 10h4v12h-4z"></path>
                </svg>               
                }
                else { 
                
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM12 9l12 7-12 7z"></path>
                </svg>  
                }

            </SfButton>
        </PlayButtonTemplate>
    </SfCarousel>
</div>

@code {

    public bool IsSlidePlay = true;

    public List<string> IndicatorsImageNameList = new List<string>()
    {
        "san-francisco", "london", "tokyo", "moscow"
    };

}



<style>
    .e-carousel-indicators .e-indicator-bars .e-indicator-bar .indicator {
        background-color: white !important;
        border-radius: 5px;
        cursor: pointer;
        height: 50px;
        width: 65px;
        margin: 12px 12px 20px 12px;
    }

    .e-carousel .e-carousel-indicators {
        bottom: -85px !important
    }
    .e-carousel-indicators .e-indicator-bars .e-indicator-bar.e-active .indicator {
        border: solid;
        border-width: thick;
        border-color: #CC5500 !important;
    }


    .e-carousel .e-carousel-navigators .e-play-pause .e-btn svg {
        fill: #fff;
        stroke: transparent;
    }

    .image-container {
        margin: 0 auto;
        width: 75%;
        height: 100%;
    }

    .e-carousel .e-carousel-navigators .e-btn:active,
    .e-carousel .e-carousel-navigators .e-btn:hover {
        background-color: transparent !important;
    }

    .e-carousel .e-carousel-navigators .e-previous .e-btn svg,
    .e-carousel .e-carousel-navigators .e-next .e-btn svg {
        fill: none;
        stroke: currentColor;
        stroke-linecap: square;
        stroke-width: 8px;
        height: 2rem;
        vertical-align: middle;
        width: 2rem;
    }

    .e-carousel .e-carousel-navigators .e-previous .e-btn svg {
        transform: rotate(180deg);
    }
</style>